University Core
Literature_0_3
Arts_0_3
Western Civilization/World History_0_3
Global Understanding_0_3
Social and Behavioral Science_0_3
Computer Science Department
COMM_100_Public Speaking_0_3
Natural Science, Sequence1_0_4
Natural Science, Sequence2_0_4
Natural Science, Additional_0_4
Major in Computer Science
MATH_113_Analytic Geometry & Calculus I_4_0
MATH_114_Analytic Geometry & Calculus II_4_0_1_MATH_113
MATH_125_Discrete Mathematics I_3_0_1_MATH_113
MATH_203_Linear Algebra_3_0_1_MATH_114
MATH_213_Analytic Geometry & Calculus III_3_0_1_MATH_114
STAT_344_Probability and Statistics for Engrs. and Sci. I_3_0_1_MATH_114
ECE_301_Digital Electronics_3_0_1_MATH_125
CS_101_Preview of Computer Science_3_0
CS_105_Computer Ethics and Society_3_0
CS_112_Introduction of Computer Programming_3_0
CS_211_Object-Oriented Programming_3_0_1_CS_112
CS_262_Introduction to Low-Level Programming_3_0_1_CS_211
CS_306_Synth. of Ethics and Law for the Computing Prof._3_0_1_CS_105
CS_310_Data Structures_3_0_2_MATH_113_CS_211
CS_321_Software Engineering_3_0_1_CS_211
CS_330_Formal Methods and Models_3_0_2_MATH_125_CS_211
CS_367_Computer Systems and Programming_4_0_2_ECE_301_CS_262
CS_465_Computer Systems Architecture_3_0_1_CS_367
CS_483_Analysis of Algorithms_3_0_3_MATH_125_CS_310_CS_330
Senior CS, Elective One of:
CS_463_Comparative Programming Language_3_0_2_CS_330_CS_367
CS_471_Operating Systems_3_0_2_CS_310_CS_367
CS_475_Concurrent and Distributed Systems_3_0_2_CS_310_CS_367
Senior CS, Additional
Senior CS, Additional_0_3
Senior CS, Additional_0_3
Senior CS, Additional_0_3
Senior CS, Additional_0_3
CS-Related Courses
CS-Related Courses_0_3
CS-Related Courses_0_3